Benton Rakison 2017 - Revisting BB v.4.docx
Benton Rakison 2017 - Revisting BB v.5.docx
Benton and Rakison 2017 - Revisiting BB manuscript v.2.docx
Benton and Rakison 2017 - Revisiting BB manuscript v.3.docx
Benton and Rakison 2017 - Revisiting BB manuscript.docx
CONDITION LEGEND.xlsx
Introduction v.2.txt
Introduction v.4.txt
Introduction.txt
Models/
NOTE ABOUT KEEPING EXPERIMENT 2.txt
abstract.txt
analyses to run for IS and BB conditions.txt
causal models - 3 objects.docx
causal models - 4 objects.docx
causal models.docx
causal_models for four objects.png
causal_models for three objects.png
causal_models.png
discussion from experiment 1.txt
griffiths, sobel, tenenbaum, & gopnik 2011 study.txt
paper/
problems with BB reasoning.txt
procedure v.2.txt
procedure.txt
stimuli and design.txt
~$nton Rakison 2017 - Revisting BB v.4.docx
exp 1 R script.txt
exp_4_data_full_csv_3.csv
experiment_1_write_up.txt
figure1.jpeg
exp.1 - 2 cause/new exp. 1 script.txts
exp.1 - 3 cause/exp 2_3_cause_R_script.txt
exp. 3 - demographics/demog_legend.txt
exp. 3 - demographics/exp 3 R script.txt
exp. 3 - demographics/power_analyses_script.txt
exp. 4 - 4 cause/exp 4 R script.txt
exp. 5 - additve-ceiling/car_additive_ceiling_use_this_one.xlsx
exp. 5 - additve-ceiling/exp 5 R script.txt
figures/
exp. 2 - 2 cause (3 ratings)/experiment2 3 cause write up.txt
exp. 2 - 2 cause (3 ratings)/exp_2_write_up.txt
discussion section following experiment 2 with 2 objects and three rating phases.txt
exp.1 - 2 cause/figure_1_NEW.jpeg
~$nton Rakison 2017 - Revisting BB v8.docx
Benton Rakison 2017 - Revisting BB v8.docx
exp. 2 - 2 cause (3 ratings)/experiment 2 3 cause write up.txt
exp. 2 - 2 cause (3 ratings)/figure_2_plot.jpeg
Benton Rakison 2017 - Revisting BB v9.docx
Benton Rakison 2017 - Revisting BB v10.docx
Benton Rakison 2017 - Revisting BB v11.docx
exp. 2 - 2 cause (3 ratings)/.Rhistory
experiment 2 3 cause write up.txt
~$nton Rakison 2017 - Revisting BB v11.docx
exp. 2 - 2 cause (3 ratings)/experiment 2 3 cause write up.txt