Benton Rakison 2017 - Revisting BB v.4.docx
Benton Rakison 2017 - Revisting BB v.5.docx
Benton and Rakison 2017 - Revisiting BB manuscript v.2.docx
Benton and Rakison 2017 - Revisiting BB manuscript v.3.docx
Benton and Rakison 2017 - Revisiting BB manuscript.docx
CONDITION LEGEND.xlsx
Introduction v.2.txt
Introduction v.4.txt
Introduction.txt
Models/
NOTE ABOUT KEEPING EXPERIMENT 2.txt
abstract.txt
analyses to run for IS and BB conditions.txt
causal models - 3 objects.docx
causal models - 4 objects.docx
causal models.docx
causal_models for four objects.png
causal_models for three objects.png
causal_models.png
discussion from experiment 1.txt
griffiths, sobel, tenenbaum, & gopnik 2011 study.txt
paper/
problems with BB reasoning.txt
procedure v.2.txt
procedure.txt
stimuli and design.txt
~$nton Rakison 2017 - Revisting BB v.4.docx